## Problem Set 1 - BDMLAE

Packages

In [10]:
import pandas as pd
import numpy as np
import pyreadr as pyr
import scipy as sc
from scipy.stats import bootstrap

Cleaning

In [21]:
bd=pyr.read_r("C:/Users/ASUS/Documents/Universidad de los Andes/2022-2/Big Data and Machine Learning for Applied Economics/Taller 1/PS1_BD-ML/bdPS1.Rdata")
print(bd.keys())
df0=bd["df"]
df=df0.drop(df0[df0.age<18].index) #Restrict the data to legal age individuals (age>=18).
df=df.drop(df[df.ocu==0].index) #Restrict the data to employed individuals (ocu==1).
df=(df1[["age", "clase", "p6210", "cuentaPropia", "depto", "sizeFirm", "oficio", "hoursWorkUsual", "formal", "ingtot", "mes", 
"estrato1", "sex", "p6090", "p6100", "p6426", "p7050", "p7110", "p7500s2a1", "p7510s1a1", "p7510s7", "y_accidentes_m", "y_salary_m", "y_salarySec_m", 
"fex_c", "fex_dpto"]]) #Relevant variables selection.

odict_keys(['df'])

In [26]:
df

,,directorio,secuencia_p,orden,clase,dominio,mes,estrato1,sex,age,...,y_viaticos_m,y_accidentes_m,y_salarySec_m,y_ingLab_m_ha,y_gananciaNeta_m,y_gananciaNetaAgro_m,y_gananciaIndep_m,y_gananciaIndep_m_hu,y_total_m,y_total_m_ha
1,2,4514331,1,1,1,BOGOTA,1,2,1,36,...,NaN,NaN,NaN,8404.320312,NaN,NaN,NaN,NaN,1.620833e+06,8404.320312
8,9,4514333,1,1,1,BOGOTA,1,2,1,51,...,NaN,NaN,NaN,6703.342773,NaN,NaN,NaN,NaN,1.378973e+06,6703.342773
13,14,4514334,1,1,1,BOGOTA,1,2,1,45,...,NaN,NaN,NaN,3680.654053,NaN,NaN,NaN,NaN,8.833570e+05,3680.654053
15,16,4514335,1,1,1,BOGOTA,1,2,1,61,...,NaN,NaN,NaN,4083.333252,NaN,NaN,NaN,NaN,7.000000e+05,4083.333252
21,22,4514338,1,2,1,BOGOTA,1,2,0,35,...,NaN,NaN,NaN,9437.847656,NaN,NaN,NaN,NaN,1.941500e+06,9437.847656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32167,3208,4804453,1,9,1,BOGOTA,12,3,1,23,...,NaN,NaN,NaN,NaN,200000.0,NaN,200000.0,9333.333008,2.000000e+05,9333.333008
32171,3212,4804454,1,1,1,BOGOTA,12,2,1,27,...,NaN,NaN,NaN,4453.359375,NaN,NaN,NaN,NaN,9.161197e+05,4453.359375
32172,3213,4804454,1,2,1,BOGOTA,12,2,0,24,...,NaN,NaN,NaN,3345.555664,NaN,NaN,NaN,NaN,1.003667e+06,3345.555664
32173,3214,4804455,1,1,1,BOGOTA,12,3,0,36,...,500000.0,NaN,NaN,25958.333984,NaN,NaN,NaN,NaN,6.675000e+06,25958.333984
32174,3215,4804455,1,2,1,BOGOTA,12,3,1,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN